<%- include("../partials/farmersPartials/header") %> 
<%- include("../partials/farmersPartials/navBar") %> 
<%- include("../partials/farmersPartials/breadCrumbs") %> 
               <!-- MAIN CONTENT-->
               <div class="main-content">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card">
                                    <div class="card-header">
                                        <strong>Add</strong> Product
                                        <!-- <span style="float: right;"><img src="<%= avatar %> " alt="<%= name %> " width="30px" height="30px" style="border-radius: 50%;"></span> -->
                                    </div>
                                    <div class="card-body card-block">
                                        <form action="/farmer/add-product" method="POST" enctype="multipart/form-data" class="form-horizontal">
                                            <!-- <div class="row form-group">
                                                <div class="col col-md-3">
                                                    <label class=" form-control-label">Static</label>
                                                </div>
                                                <div class="col-12 col-md-9">
                                                    <p class="form-control-static">Username</p>
                                                </div>
                                            </div> -->
                                            <div class="row form-group">
                                                <div class="col col-md-3">
                                                    <label for="text-input" class=" form-control-label">Product Name</label>
                                                </div>
                                                <div class="col-12 col-md-9">
                                                    <input type="text" id="name" name="name" placeholder="<%=  %> " class="form-control">
                                                    <small class="form-text text-muted">Your Name</small>
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="col col-md-3">
                                                    <label for="email-input" class=" form-control-label">Promo</label>
                                                </div>
                                                <div class="col-12 col-md-9">
                                                    <input type="text" id="promo" name="promo" placeholder="<%=  %> " class="form-control">
                                                    <small class="help-block form-text">Your promo</small>
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="col col-md-3">
                                                    <label for="email-input" class=" form-control-label">Category</label>
                                                </div>
                                                <div class="col-12 col-md-9">
                                                    <label for="exampleInputEmail1">Category</label>
                                                    <select name="category" class="form-control form-control-line">
                                                        <option value="default" selected>Default</option>
                                                        <%categories.forEach(categories => {%>    
                                                        <option value="<%= categories.name %>" ><%= categories.name %> </option>
                                                        <% }) %> 
                                                        
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="col col-md-3">
                                                    <label for="email-input" class=" form-control-label">Description</label>
                                                </div>
                                                <div class="col-12 col-md-9">
                                                    <input type="text" id="description" name="description" placeholder="<%=  %>" class="form-control">
                                                    <small class="help-block form-text">Your description</small>
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="col col-md-3">
                                                    <label for="file-input" class=" form-control-label">Product Image</label>
                                                </div>
                                                <div class="col-12 col-md-9">
                                                    <input type="file" id="productImage" name="productImage"  multiple="multiple" class="form-control-file">
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="col col-md-3">
                                                    <label for="password-input" class=" form-control-label">Price</label>
                                                </div>
                                                <div class="col-12 col-md-9">
                                                    <input type="text" id="price" name="price" placeholder="price" class="form-control">
                                                    <small class="help-block form-text">price Update</small>
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="col col-md-3">
                                                    <label for="password-input" class=" form-control-label">Price</label>
                                                </div>
                                                <div class="col-12 col-md-9">
                                                    <input type="checkbox" id="price" name="shipping" placeholder="price" class="form-control">
                                                    <small class="help-block form-text">Shipping</small>
                                                </div>
                                            </div>
                                            <div class="card-footer">
                                                <button type="submit" class="btn btn-primary btn-sm">
                                                    <i class="fa fa-dot-circle-o"></i> Submit
                                                </button>
                                                <button type="reset" class="btn btn-danger btn-sm">
                                                    <i class="fa fa-ban"></i> Reset
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <!-- <div class="card">
                                    <div class="card-header">
                                        <strong>Inline</strong> Form
                                    </div>
                                    <div class="card-body card-block">
                                        <form action="" method="post" class="form-inline">
                                            <div class="form-group">
                                                <label for="exampleInputName2" class="pr-1  form-control-label">Name</label>
                                                <input type="text" id="exampleInputName2" placeholder="Jane Doe" required="" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label for="exampleInputEmail2" class="px-1  form-control-label">Email</label>
                                                <input type="email" id="exampleInputEmail2" placeholder="jane.doe@example.com" required="" class="form-control">
                                            </div>
                                        </form>
                                    </div>
                                    <div class="card-footer">
                                        <button type="submit" class="btn btn-primary btn-sm">
                                            <i class="fa fa-dot-circle-o"></i> Submit
                                        </button>
                                        <button type="reset" class="btn btn-danger btn-sm">
                                            <i class="fa fa-ban"></i> Reset
                                        </button>
                                    </div>
                                </div> -->
                            </div>
                        </div>
<%- include("../partials/farmersPartials/footer") %> 